@charset "UTF-8";

h3, h4 {
	padding: 0;
	margin: 0;
}

.search-list-container {
	display: flex;
	align-items: center;
	
}

.search-list-title {
	margin-right: 8px;
}

#delete-container {
	display: flex;
	justify-content: space-between;
}

#update-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.label-width {
	display: inline-block;
	width: 100px
}

.p-8 {
	padding: 8px;
}

.py-4{
	padding: 4px 0;
}

.mr-12 {
	margin-right: 12px;
}

.mb-8 {
	margin-bottom: 8px;
}

.border-black {
	border: 1px solid black;
	
}

.temp-form-border {
	border: 1px solid red;
}

